{
  "extends": ["4catalyzer-flow", "prettier", "prettier/flowtype"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": ["**/__tests__/**", "**/__mocks__/**", "test/**"],
      "plugins": ["jest"],
      "env": {
        "jest/globals": true
      },
      "rules": {
        "global-require": "off",
        "no-await-in-loop": "off",
        "no-console": "off",
        "import/no-dynamic-require": "off",
        "import/no-extraneous-dependencies": "off",
        "flowtype/require-valid-file-annotation": "off",
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
      }
    }
  ]
}
