{
  "extends": [
    "4catalyzer-flow",
    "4catalyzer-jest",
    "prettier",
    "prettier/flowtype"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },

  "overrides": [
    {
      "files": [
        "**/test/**"
      ],
      "rules": {
        "flowtype/require-valid-file-annotation": "off"
      }
    }
  ]
}
