language: node_js
node_js:
  - '12'
  - '10'

cache:
  yarn: true
  npm: true

after_script:
  - node_modules/.bin/codecov

after_success:
  - node_modules/.bin/semantic-release

branches:
  only:
    - master
